<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="MageBarrett\AddressBook\Api\AddressBookRepositoryInterface"
                type="MageBarrett\AddressBook\Model\AddressBookRepository"/>
    <preference for="MageBarrett\AddressBook\Api\Data\AddressBookInterface"
                type="MageBarrett\AddressBook\Model\AddressBook"/>
    <preference for="MageBarrett\AddressBook\Api\Data\AddressBookSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="MageBarrett\AddressBookMx\Api\AddressesByZipInterface"
                type="MageBarrett\AddressBookMx\Model\AddressesByZip" />
    <preference for="MageBarrett\AddressBookMx\Api\AddressesByTownInterface"
                type="MageBarrett\AddressBookMx\Model\AddressesByTown" />
    <preference for="MageBarrett\AddressBookMx\Api\AddressesByStateInterface"
                type="MageBarrett\AddressBookMx\Model\AddressesByState" />

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="updateAddressBookConsole" xsi:type="object">MageBarrett\AddressBookMx\Console\Command\UpdateAddressBook</item>
            </argument>
        </arguments>
    </type>

</config>
